body,
html {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
}
.main_sec {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.content {
  padding: 40px 140px 0;
  max-width: 1400px;
}
.title {
  margin: 78px 0 43px;
}
.title h1 {
  font-weight: bold;
}
.title h2 {
  font-weight: 500;
}
.checkbox_block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.checkbox_block label {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}
.checkbox_block input {
  margin-right: 20px;
}
.searchInput {
  width: 680px;
  height: 42px;
  border: 2px solid #333333;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.searchInput::placeholder {
  color: #ababab;
}
.getJoke_btn {
  font-size: 16px;
  width: 152px;
  height: 42px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90.55deg, #8ea7ff 0%, #7291ff 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0 40px;
}
.unActive {
  display: none;
}
.active {
  display: block;
}
.categorie_btns_block {
  width: 1000px;
}
.categorie_btns {
  width: 95px;
  height: 28px;
  border: 2px solid #f8f8f8;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ababab;
  margin: 10px 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.categorie_btns_active {
  width: 95px;
  height: 28px;
  background: #f8f8f8;
  border: 2px solid #333333;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #333333;
  margin: 10px 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn_categories {
  display: flex;
  flex-wrap: wrap;
}