body, html {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.content {
    padding: 40px 140px 0;
    max-width: 600px;
}
.title {
    margin: 78px 0 43px;
}
.title h1{
    font-weight: bold;
}
.title h2 {
    font-weight: 500;
}
.checkbox_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.checkbox_block label {
    font-size: 18px;
    line-height: 26px;
    margin: 10px 0;
}
.checkbox_block input {
    margin-right: 20px;
}
.getJoke_btn {
    font-size: 16px;
    width: 152px;
    height: 42px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}
.jokeList {
    display: none;
}
.active {
    display: block;
}

